src/Riverside.Markup.Specification/formatting.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="Riverside.Markup.Formatting"
           elementFormDefault="qualified">

	<xs:element name="Bold" type="xs:string"/>
	<xs:element name="Italic" type="xs:string"/>
	<xs:element name="Code" type="xs:string"/>

</xs:schema>